<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{mainnavigation}">
        <nav id="menu-main">
            <ul class="menu-main__list">
                <f:for each="{mainnavigation}" as="listitem">
                    <li class="menu-main_item lvl1 {f:if(condition: '{listitem.active} || {listitem.data.shortcut} == {data.uid}', then: 'active')}">
                        <f:link.typolink class="menu-main_item__link lvl1" parameter="{listitem.link}">
                            {listitem.title}
                        </f:link.typolink>
                    </li>
                </f:for>
            </ul>
        </nav>
    </f:if>

</f:section>
</html>
